/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.mainImageContainer {
  position: relative;
  height: 100vh;
}

.mainImage {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}


.overlayMainImage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  bottom: 0px;

}


.header {
  padding: 10px;
  position: absolute;
  display: grid;
  grid-template-columns: 50px 100% 1fr;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}



.header>div {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  gap: 5px;
}

.weatherInfo {
  position: absolute;
  bottom: 10px;
  color: white;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px 20px 50px 20px 20px;
  padding: 0px 15px;
}

.weatherInfo h1 {
  font-size: 2rem;
}

.weatherInfo h3 {
  font-size: 1.1rem;
}

.leftWeatherInfo {
  display: flex;
  grid-area: 3/1/6/2;
  align-items: center;
  gap: 10px;
}

.rightWeatherInfo {
  grid-area: 3/2/6/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;

}




.city {
  grid-area: 1/1/3/3;
}

.date {
  grid-area: 2/1/3/3;
}

.weatherDescription,
.highLow,
.feelsLike {
  justify-self: end;
  align-self: flex-end;
}

.leftWeatherInfo>.icon {
  filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(254deg) brightness(102%) contrast(105%);
  width: 60px;
  height: 60px;

}




.icon {
  width: 50px;
  height: 50px;
}

.toggleNav {
  transition: 0.3s;
  z-index: 1;
  position: sticky;
}

.toggleNav:hover {
  cursor: pointer;
  filter: invert(18%) sepia(0%) saturate(1062%) hue-rotate(136deg) brightness(91%) contrast(93%);

}

nav {
  position: absolute;
  top: 0;
  color: white;
  background-color: rgb(38, 38, 38);
  right: -100%;
  width: 100vw;
  height: 100vh;
  transition: 0.3s;
}