<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div class="mainImageContainer">
    <img class="mainImage" src="<%= require('./assets/images/melbourne.jpeg') %>" alt="" />
    <div class="overlayMainImage">
    </div>

    <div class="header">
      <div>
        <img class="icon" src="<%= require('./assets/icons/white-balance-sunny.svg') %>" alt="website logo">
        <h1>Weather</h1>
      </div>
      <img class="icon" src="<%= require('./assets/icons/add.svg') %>" alt="add new location">
    </div>

    <div class="weatherInfo">
      <h3 class="city">Melbourne</h1>
        <h3 class="date">Tuesday 21st of February</h3>

        <div class="leftWeatherInfo">
          <img class="icon" src="<%= require('./assets/icons/cloud.svg') %>" alt="weather type">
          <h1 class="temp">23°C</h1>
        </div>

        <div class="rightWeatherInfo">
          <h3 class="weatherDescription">Cloudy</h1>
            <h3 class="highLow">18°C/23°C</h3>
            <h3 class="feelsLike">Feels like 22°C</h3>
        </div>
    </div>

  </div>

  <div class="threeHourInfo">
    <div class="module">
      <h1>7:00</h1>
      <img src="<%= require('./assets/icons/sunrise.svg') %>" alt="" class="icon">
      <h1>24°C</h1>
      <h3>24%</h3>
    </div>
    <div class="module">
      <h1>7:00</h1>
      <img src="<%= require('./assets/icons/sunrise.svg') %>" alt="" class="icon">
      <h1>24°C</h1>
      <h3>24%</h3>
    </div>
    <div class="module">
      <h1>7:00</h1>
      <img src="<%= require('./assets/icons/sunrise.svg') %>" alt="" class="icon">
      <h1>24°C</h1>
      <h3>24%</h3>
    </div>
    <div class="module">
      <h1>7:00</h1>
      <img src="<%= require('./assets/icons/sunrise.svg') %>" alt="" class="icon">
      <h1>24°C</h1>
      <h3>24%</h3>
    </div>
    <div class="module">
      <h1>7:00</h1>
      <img src="<%= require('./assets/icons/sunrise.svg') %>" alt="" class="icon">
      <h1>24°C</h1>
      <h3>24%</h3>
    </div>
    <div class="module">
      <h1>7:00</h1>
      <img src="<%= require('./assets/icons/sunrise.svg') %>" alt="" class="icon">
      <h1>24°C</h1>
      <h3>24%</h3>
    </div>
    <div class="module">
      <h1>7:00</h1>
      <img src="<%= require('./assets/icons/sunrise.svg') %>" alt="" class="icon">
      <h1>24°C</h1>
      <h3>24%</h3>
    </div>
    <div class="module">
      <h1>7:00</h1>
      <img src="<%= require('./assets/icons/sunrise.svg') %>" alt="" class="icon">
      <h1>24°C</h1>
      <h3>24%</h3>
    </div>
    <div class="module">
      <h1>7:00</h1>
      <img src="<%= require('./assets/icons/sunrise.svg') %>" alt="" class="icon">
      <h1>24°C</h1>
      <h3>24%</h3>
    </div>
    <div class="module">
      <h1>7:00</h1>
      <img src="<%= require('./assets/icons/sunrise.svg') %>" alt="" class="icon">
      <h1>24°C</h1>
      <h3>24%</h3>
    </div>
    <div class="module">
      <h1>7:00</h1>
      <img src="<%= require('./assets/icons/sunrise.svg') %>" alt="" class="icon">
      <h1>24°C</h1>
      <h3>24%</h3>
    </div>
    <div class="module">
      <h1>7:00</h1>
      <img src="<%= require('./assets/icons/sunrise.svg') %>" alt="" class="icon">
      <h1>24°C</h1>
      <h3>24%</h3>
    </div>
    <div class="module">
      <h1>7:00</h1>
      <img src="<%= require('./assets/icons/sunrise.svg') %>" alt="" class="icon">
      <h1>24°C</h1>
      <h3>24%</h3>
    </div>
    <div class="module">
      <h1>7:00</h1>
      <img src="<%= require('./assets/icons/sunrise.svg') %>" alt="" class="icon">
      <h1>24°C</h1>
      <h3>24%</h3>
    </div>
    <div class="module">
      <h1>7:00</h1>
      <img src="<%= require('./assets/icons/sunrise.svg') %>" alt="" class="icon">
      <h1>24°C</h1>
      <h3>24%</h3>
    </div>
  </div>

</body>

</html>