<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div class="mainImageContainer">
    <img class="mainImage" src="<%= require('./assets/images/melbourne.jpeg') %>" alt="" />
    <div class="overlayMainImage">
    </div>

    <div class="header">
      <div>
        <img class="icon" src="<%= require('./assets/icons/white-balance-sunny.svg') %>" alt="website logo">
        <h1>Weather</h1>
      </div>
      <img class="icon" src="<%= require('./assets/icons/add.svg') %>" alt="add new location">
    </div>

    <div class="weatherInfo">
      <h3 class="city">Melbourne</h1>
        <h3 class="date">Tuesday 21st of February</h3>

        <img class="icon" src="<%= require('./assets/icons/cloud.svg') %>" alt="weather type">
        <h1 class="weatherDescription">Cloudy</h1>

        <h1 class="temp">23°C</h1>
        <h3 class="feelsLike">Feels like 22°C</h3>
    </div>

  </div>

</body>

</html>